.cabecera-4 {
    margin-top: 15%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-4 {
    max-width: 90%;
    background-color: var(--background-color);
    height: 800px;
    overflow: hidden;
}

.logo-container {
    margin-top: 20%;
    margin-left: 25px;
}

.cabecera-4 h3 {
    margin-left: 25px;
    margin-bottom: 5px;
}

.cabecera-4 h1 {
    max-width: 250px;
    margin-left: 25px;
    margin-top: 0px;
}

.cabecera-4 p {
    margin-left: 25px;
    max-width: 300px;
}

.interested{
    display: flex;
    justify-content: center;
    margin: 25px;
    margin-bottom: 0px;
    background-color: var(--main-color);
    max-width: 300px;
    padding: 20px;
    color: #fff;
}

.plans {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    text-decoration: underline;
}

.img-container {
    position: relative;
    left: 15%;
    max-width: 400px;
}

@media (min-width: 950px) {

    .container-4 {
        min-width: 97%;
        height: 730px;
        margin-bottom: 5%;
    }

    .logo-container {
        margin-left: 5%;
        margin-top: 5%;
        width: 160px;
    }

    .cabecera-4 h3 {
        margin-left: 5%;
    }
    .cabecera-4 h1 {
        margin-left: 5%;
        min-width: 500px;
    }

    .cabecera-4 p {
        min-width: 450px;
        margin-left: 5%;
    }

    .img-container {
        display: flex;
        position: relative;
        top: -110%;
        left: 40%;
        min-width: 1200px;
    }
    .container-a {
        display: flex;
        margin-left: 3%;
    }

    .interested {
        min-width: 300px;
        margin-top: 5px;
    }

    .plans {
        padding: 25px;
    }
}
