.cabecera-2 {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-2 {
    width: 90%;
    background-color: var(--background-color);
    height: 800px;
    overflow: hidden;
}

.img-mobile {
    margin: 20px;
}

.img-desktop {
    display: none;
}

.cabecera-2 h3 {
    text-align: left;
    margin: 20px;
}

.cabecera-2 h1 {
    text-align: left;
    margin: 20px;
}

.cabecera-2 p {
    max-width: 312px;
    text-align: left;
    margin: 20px;
}

.cabecera-2 a {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    font-size: 16px;
    background-color: var(--main-color);
    color: #fff;
}

.shoe-purple {
    position: relative;
    top: -10%;
    left: 5%;
    max-width: 420px;
}

@media (min-width: 950px) {

    .container-2 {
        width: 97%;
        height: 810px;
    }

    .img-desktop {
        display: inline;
        margin-top: 8%;
        margin-left: 70px;
    }

    .desktop-version h3 {
        margin-left: 70px;
    }

    .desktop-version h1{
        max-width: 668px;
        margin-left: 70px;
    }

    .desktop-version p {
        max-width: 600px;
        margin-left: 70px;
    }

    .desktop-version a {
        margin-top: 50px;
        margin-left: 70px;
    }

    .mobile-version {
        display: none;
    }

    .shoe-purple {
        display: flex;
        position: relative;
        left: 53%;
        margin-top: -48%;
        max-width: 940px;
    }

}