
.cabecera {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-1 {
    text-align: center;
    width: 90%;
    background-color: #F1F1FE;
}

.cabecera h1 {
    max-width: 30px;
    margin: 30px;
}
.cabecera p {
    text-align: left;
    margin: 30px;
    max-width: 310px;
}

.container-item {
    display: flex;
    justify-content: center;
    padding: 7px;
    margin: 20px;
    max-width: 300px;
    font-size: 24px;
    background-color:blue;
    color: #fff;
}

.img-cabecera {
    max-width: 300px;
    align-self: center;
}


/* DESKTOP */
@media (min-width: 950px) {
    .cabecera {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .container-1 {
        height: 800px;
        text-align: center;
        width: 97%;
        background-color: #F1F1FE;
    }
    
    .cabecera h1 {
        text-align: left;
        max-width: 800px;
        margin-left: 70px;
        margin-top: 11%;
    }
    .cabecera p {
        margin: 70px;
        max-width: 510px;
    }
    
    .container-item {
        display: flex;
        justify-content: center;
        padding: 7px;
        margin: 70px;
        max-width: 400px;
        font-size: 24px;
        background-color:blue;
        color: #fff;
    }
    
    .img-cabecera {
        display: flex;
        position: absolute;
        top: 35%;
        left: 60%;
        max-width: 550px;
        align-self: flex-end;
    }
}