@font-face {
    font-family: 'PP Supply Sans';
    src: url('fonts/PPSupplySans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BaikalVAR';
    src: url('fonts/BaikalVAR-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --theme-color: white;
    --text-color: #0C2340;
    --main-color: #4041F6;
    --background-color: #F1F1FE;
}

body {
    font-family: 'BaikalVAR', Arial, Helvetica, sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
}
a {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

h1 {
    font-size: 40px;
    font-family: 'PP Supply Sans', Arial, Helvetica, sans-serif;
    color: var(--main-color);
    
}

p {
    font-size: 16px;
}


@media (min-width: 950px) {
    h1 {
        font-size: 84px;
    }

    p {
        font-size: 20px;
    }

    .container-item {
        font-size: 10px;
    }

    .container-footer {
        display: none;
    }
}