@media (min-width: 950px) {

.top-header {
    background-color: var(--theme-color);
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
}

.logo {
    display: flex;
    align-items: center;
}

/* Menu */
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    font-weight: 500;
    position: relative;
}

.menu a::after {
    content: " ";
    background-color: #0C2340;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu a.selected::after,
.menu a:hover::after {
    opacity: 1;
}

.menu-item {
    height: 42px;
    width: 120px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
}

.open-menu, .close-menu, .leng {
    display: none;
}

.products {
    display: none;
}

}



/*Version Mobile*/
@media (max-width: 768px) {
    
    .top-header {
        width: 100%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }

    .top-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 19px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    /* Menu */
    .menu{
        position: absolute;
        z-index: 2;
        height: auto;
        display: flex;
        align-items: flex-start;
        margin-block-start: 0px;
        padding-inline-start: 0px;
        margin-top: 80px;
        flex-direction: column;
        background-color: var(--theme-color);
        width: 91%;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .menu li {
        padding: 0px;
    }
    
    .menu a {
        margin-left: 20px;
        font-weight: 500;
        line-height: 50px;
    }

    .menu a::after {
        display: none;
    }
    
    .menu-item {
        width: auto;
        text-align: center;
        padding:10px 90px;
        margin: 10px 0;
        margin-left: 20px;
        background-color: var(--main-color);
        color: var(--theme-color);
        border: none;
    }
    
    .open-menu, .close-menu {
        display: block;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
    }

    .close-menu {
        align-self: flex-end;
        margin-top: 30px;
        background-color: var(--theme-color);
    }

    .open-menu {
        background-color: var(--theme-color);
        align-self: flex-end;
        margin-top: -30px;
    }

    .leng {
        display: block;
        border: 2px solid #000;
        color: var(--text-color);
        width: 90px;
        height: 40px;
        position: relative;
        top: 15%;
        background-color: var(--theme-color);
        margin: 20px;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }


    .products {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        flex-direction: column;
    }

    .show.products {
        display: block;
        max-height: 1300px;
    }

    .container-products {
        display: flex;
        flex-direction: column;
    }

    .container-products img {
        width: 156px;
        height: 36px;
    }

    .icad-evolve-img {
        margin-left: 15px;
    }

    .icad-workspace-img {
        margin-left: 25px;
    }

    .icad-colorways-img {
        margin-left: 35px;
    }

    .icad-last-img {
        margin-left: 10px;
    }

    .icad-materials-img {
        margin-left: 50px;
    }

    .container-products a {
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-top: 20px;
        font-size: 12px;
        width: 120px;
        line-height: 0px;
        padding: 15px;
        background-color: var(--background-color);
        font-family: 'PP Supply Sans', Arial, Helvetica, sans-serif;
    }

    .container-products p {
        width: 290px;
        margin-left: 50px;
    }

    .vertical {
        width: 500px;
        height: 5px;
        background-color: var(--background-color);
    }

    .vertical-2 {
        width: 500px;
        height: 5px;
        background-color: var(--background-color);
    }

    
}